@tailwind base;
@tailwind components;
@tailwind utilities;

.background404 {
    opacity: 0.4;
    background: #ffd000;
}

.navbar-mobile {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
}

.navbar-mobile.active {
    max-height: 200px;
    padding-bottom: 10px; 
}

.navbar-link {
    padding: 10px 0;
}

.navbar-color {
    background-color: #78ffbc;
}

/* ####################################################################### */
/* Animated Lines CSS */

#home {
    clip-path: url(#cache);
  }
  
#red {
fill: none;
opacity: 0.4;
stroke: #ffdd00;
stroke-width: 12;
stroke-miterlimit:10;
animation: show 4s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out; 
}

#blue {
fill: none;
opacity: 0.4;
stroke: #ff7b00;
stroke-width: 12;
stroke-miterlimit:10;
animation: show 4s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

#light-blue {
fill: none;
opacity: 0.4;
stroke: #00ff9d;
stroke-width: 6;
stroke-miterlimit:10;
stroke-dasharray: 200;
stroke-dashoffset: 800;
animation: draw 4s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;    
}

@keyframes draw {
to {
    stroke-dashoffset: 0;
}
    }

@keyframes show {
0% {
    opacity: 0.4;
}
50% {
    opacity: 0.7;
}
100% {
    opacity: 0.4;
}
    }  
    
/* ####################################################################### */
/* Fonts */

@font-face {
    font-family: Oswald-Bold;
    src: url("./assets/fonts/Oswald-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LGSBE';
    src: url('./assets/fonts/lgsbe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
/* ####################################################################### */
/* Buttons */

.itzgalaxy-action-buttons {
    background-color: #00ffae;
    color: black;
    font-family: 'LGSBE', sans-serif;
    font-size: 36px;
    line-height: 1;
    padding: 0.8rem 0;
    border: 2px solid black;
    transform: skew(-30deg);
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 600px;
  }
  
  .itzgalaxy-action-buttons span {
    display: inline-block;
    transform: skew(30deg);
    white-space: nowrap;
    line-height: 1;
    position: relative;
    top: -6px;
  }  
  
  .itzgalaxy-action-buttons:hover {
    background-color: #00e39b; 
    transform: skew(-30deg) scale(1.03); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
  
@media (max-width: 1024px) {
    .itzgalaxy-action-buttons {
      font-size: 28px;
      padding: 0.7rem 6rem;
    }
  }
  
  @media (max-width: 768px) {
    .itzgalaxy-action-buttons {
      font-size: 22px;
      padding: 0.6rem 4rem;
    }
  }
  
  @media (max-width: 480px) {
    .itzgalaxy-action-buttons {
      font-size: 18px;
      padding: 0.5rem 2rem;
    }
  }
  